<%- include("partials/Header") -%>
<div class="px-4 py-5 my-5 text-center">
  <img class="logo-big" src="https://i.pinimg.com/originals/40/e7/9c/40e79cd0a43795394c9afc2268b615f0.png" alt="Shopping Cart" srcset="">
  <h1 class="display-5 fw-bold text-body-emphasis my-2 main-heading">ShopNow</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Lets start!</p>
    <hr />
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-light btn-lg px-4 gap-3">
        <a class="left-btn" href="/register">Register</a>
      </button>
      <button type="button" class="btn btn-dark btn-lg px-4">
        <a class="right-btn" href="/login">Login</a>
      </button>
    </div>
  </div>
</div>
<%- include("partials/Footer") -%>
